{% extends 'easybus/base/baseListCRUD.html' %}

{% load staticfiles %}

{% block list_script_source %}
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBMrmbLlwhxMUGcakLFmUQ3pjtup4difYI&amp;libraries=places"></script>
    <script src="{% static 'easybus/js/mapsUtil.js' %}"></script>
	<script src="{% static 'easybus/js/trajeto.js' %}"></script>
	<script src="{% static 'easybus/js/rota.js' %}"></script>
	<script src="{% static 'easybus/js/buscaOnibus.js' %}"></script>
{% endblock %}

{% block list_head_script %}	

	$(document).ready(function() {
		$('li').removeClass('active');
		$("#linkBuscaOnibus").addClass('active');
		$("#lbtnAdd").hide();
		$("#divAdvancedFilter").hide();
		$("#adv-search").hide();

		var wasDestinyMapCreated = false;

		/*Impede a visualização dos desvio de trajeto*/
		mostraSomenteParadas = true;

		$("#mapModal").on('shown.bs.modal', function () {
			if(!wasMapCreated){
				wasMapCreated = true;
				showLoadingEffect();

				createMap('mapa',
						null,
						hideLoading);
			}
		});

		$("#destinyModal").on('shown.bs.modal', function () {
			if(!wasDestinyMapCreated){
				wasDestinyMapCreated = true;
				showLoadingEffect();

				createMap('mapaDestino',
						  'buscaEndereco',
						   hideLoading);

				setChangedPlaceFunction(enderecoAlterado);
			}
		});
	});

{% endblock %}

{% block list_head_style %}

	#mapModal .modal-dialog {
		width: 95%;
		height: 95%;
		padding: 0;
	}

	#mapModal .modal-content {
		height: 95%;
		width:95%;
	}

	#mapModal .modal-header{
		height: 60px;
	}

	#mapModal .modal-footer{
		height: 60px;
	}

	#mapModal .modal-body {
		height: 80%;
		width:95%;
	}
{% endblock %}

{% block 'listHeader' %}

<div class="row">	
	<div class="col-md-6 col-lg-6 col-xs-12"> 
		<h3>Origem</h3> 
		<hr>
		
		<div class="form-group col-md-6 col-lg-6 col-xs-12">
			<label>Cidade</label>
			<select class="form-control" name="cidadeOrigem" id="cidadeOrigem" onchange="buscaBairrosCidade('Origem')">
				{% for cidade in cidadeOrigem %}
					<option value="{{ cidade.id }}">{{ cidade.descricao }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group col-md-6 col-lg-6 col-xs-12">
			<label>Bairro</label>
			<select class="form-control" name="bairroOrigem" id="bairroOrigem">
				{% for bairro in bairroOrigem %}
					<option value="{{ bairro.id }}" >{{ bairro.descricao }}  </option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="col-md-6 col-lg-6 col-xs-12"> 
		<h3>Destino</h3>
		<hr>
		
		<div class="form-group col-md-6 col-lg-6 col-xs-12">
			<label>Cidade</label>
			<select class="form-control" name="cidadeDestino" id="cidadeDestino" onchange="buscaBairrosCidade('Destino')">
				{% for cidade in cidadeDestino %}
					<option value="{{ cidade.id }}">{{ cidade.descricao }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group col-md-6 col-lg-6 col-xs-12">
			<label>Bairro</label>
			<select class="form-control" name="bairroDestino" id="bairroDestino">
				{% for bairro in bairroDestino %}
					<option value="{{ bairro.id }}" >{{ bairro.descricao }}  </option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group col-md-12 col-lg-12 col-xs-12">
		<a class="col-md-2 col-lg-2 col-xs-2" onclick="localizacaoAtual()">Usar Localização Atual</a>
		<a id="lbtnBuscar" class="btn btn-primary pull-right" onclick="retornaRotas()">Buscar</a>
		<a class="col-md-2 col-lg-2 col-xs-2 col-md-offset-4 col-xs-offset-4 col-lg-offset-4" onclick="abreModalDestino()">Buscar Localização Destino</a>
		
	</div>
</div>

<hr>
	
{% endblock 'listHeader' %}

{% block 'list' %}
<div id="list" class="row">
 
    <div class="table-responsive col-md-12">
        <table id="manutListTable" class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    {% for label in listaLabels %}
                    <th>{{ label }}</th>
                    {% endfor %}
                    <th class="actions">Trajeto</th>
                 </tr>
            </thead>
            <tbody>
			 {% for r in listaItens %}
				<tr>
				  <th width="50"> {{r.id }}</th>
				  <th> {{r.trajeto.id }} - {{r.trajeto.descricao }}</th>
				  <th> {{r.saida }}</th>
				  <th> {{r.chegada }}</th>
				  <th> {% if r.estudante == 1 %} Sim {% else %} Não {% endif %}</th>
				  <th> {% if r.especiais == 1 %} Sim {% else %} Não {% endif %}</th>
				  <th> {{r.dias}} </th>
				  <th> {% if r.feriado == 1 %} Sim {% else %} Não {% endif %}</th>
				  <td width="180">
                      <a class="btn btn-success btn-xs" onclick="buscaTrajeto({{r.id }})">Visualizar</a>
                  </td>
				</tr>				
			{% endfor %}
            </tbody>
         </table>
 
     </div>
 </div> 

<div class="modal fade" id="mapModal" role="dialog" aria-labelledby="modalLabel" onshow="clearModal()">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Visualizar Trajeto</h4>
			</div>
			<div id="mapBody" class="modal-body container-fluid">
				<div id="mapa" class="col-md-6 col-lg-6 col-xs-6" style="height: 100%;" onLoad="getUserLocation(mostraUsuarioMapa)"></div>
				<div id="routeDescription" class="col-md-6 col-lg-6 col-xs-6" style="overflow: auto;height:98%;"></div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" onclick="fechaModal()" data-dismiss="modal" >Fechar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="destinyModal" role="dialog" aria-labelledby="modalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<h4>Buscar Destino</h4>
			</div>

			<div class="modal-body container-fluid">
				<div id="divBuscaEndereco" class="row text-left" >
					<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label for="buscaEndereco">Busque o Endereço: </label>
						<input type="text" id="buscaEndereco" name="buscaEndereco" class="form-control"/>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<label for="bairro">Bairro/Localidade</label>
						<input type="text" id="bairro" name="bairro" class="form-control" disabled/>
					</div>

					<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<label for="cidade">Cidade</label>
						<input type="text" id="cidade" name="cidade" class="form-control" disabled/>
					</div>
				</div>

				<div id="mapaDestino" class="embed-responsive embed-responsive-4by3"></div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" >Confirmar</button>
				<button type="button" class="btn btn-default" onclick="fechaModal()" data-dismiss="modal" >Cancelar</button>
			</div>
		</div>
	</div>
</div>


{% endblock 'list' %}