{% extends 'easybus/base/baseCRUD.html' %}

{% load staticfiles%}

{% block crud_style_source %}
	<link href="{% static 'easybus/css/autoComplete.css' %}" rel="stylesheet"></link>
{% endblock %}

{% block crud_script_source %}
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBMrmbLlwhxMUGcakLFmUQ3pjtup4difYI&amp"></script>
    <script src="{% static 'easybus/js/mapsUtil.js' %}"></script>
    <script src="{% static 'easybus/js/trajeto.js' %}"></script>
	<script src="{% static 'easybus/js/rota.js' %}"></script>
{% endblock %}

{% block crud_head_script %}

	$(document).ready(function() {
		$('li').removeClass('active');
		$("#linkRota").addClass('active');

		var teste = '{{listaItinerario|safe}}';
		console.log('canaleto inicial',teste);

		deserializeDjangoObject('{{listaItinerario|safe}}',addItinerarioObject,mostraItinerarios);

		$("#mapModal").on('shown.bs.modal', function () {
			if(!wasMapCreated){
				wasMapCreated = true;
				showLoadingEffect();

				createMap('mapa',
						null,
						hideLoading);
			}
		});
	});

{% endblock %}

{% block crud %}

<div class="row">	
	<div class="form-group col-md-4">
		<label>Trajeto</label>
		<select class="form-control" {{crudFieldsProperties}} name="trajeto" id="cbTrajeto" onchange="getItinerario()">
			{% for trajeto in trajetos %}
				<option value="{{ trajeto.id }}" {% if trajeto.id == rota.trajeto %} selected {% endif %} >{{ trajeto.id }} - {{ trajeto.descricao }}  </option>
			{% endfor %}
		</select>
	</div>
</div>

<div class="row">	
	<div class="form-group col-md-2">
		<label>Saída</label>
		<input type="time" class="form-control" width="25" id="saida" name="saida" required="True" {{crudFieldsProperties}} value="{{rota.saida}}" onblur="calculaChegada()">
	</div>
	<div class="form-group col-md-2">
		<label>Chegada</label>
		<input type="hidden" class="form-control" width="25" id="chegada" name="chegada" required="True" value="{{rota.chegada}}">
		<input type="time" class="form-control" width="25" id="chegadaAux" name="chegadaAux" required="True" disabled value="{{rota.chegada}}">
	</div>
</div>

<label for="estudante">Tipo de Rota</label>
<div id="teste" class="row">
	<div class="form-group col-md-12">
		<label class="checkbox-inline"><input type="checkbox" id="estudante" name="estudante" {% if rota.estudante %} checked {% endif %} {{crudFieldsProperties}}>Estudante</label>
		<label class="checkbox-inline"><input type="checkbox" name="especiais" {% if rota.especiais %} checked {% endif %} {{crudFieldsProperties}}>Portado para usuários com necessidades especiais</label>
	</div>
</div>

<label for="campo1">Dias de Operação</label>
<div class="row">
	<div class="form-group col-md-9">
		<label class="checkbox-inline"><input type="checkbox" name="domingo" {% if rota.domingo %} checked {% endif %} {{crudFieldsProperties}}>Domingo</label>
		<label class="checkbox-inline"><input type="checkbox" name="segunda" {% if rota.segunda %} checked {% endif %} {{crudFieldsProperties}}>Segunda</label>
		<label class="checkbox-inline"><input type="checkbox" name="terca" {% if rota.terca %} checked {% endif %} {{crudFieldsProperties}}>Terça</label>
		<label class="checkbox-inline"><input type="checkbox" name="quarta" {% if rota.quarta %} checked {% endif %} {{crudFieldsProperties}}>Quarta</label>
		<label class="checkbox-inline"><input type="checkbox" name="quinta" {% if rota.quinta %} checked {% endif %} {{crudFieldsProperties}}>Quinta</label>
		<label class="checkbox-inline"><input type="checkbox" name="sexta" {% if rota.sexta %} checked {% endif %} {{crudFieldsProperties}}>Sexta</label>
		<label class="checkbox-inline"><input type="checkbox" name="sabado" {% if rota.sabado %} checked {% endif %} {{crudFieldsProperties}}>Sábado</label>
		<label class="checkbox-inline"><input type="checkbox" name="feriado" {% if rota.feriado %} checked {% endif %} {{crudFieldsProperties}}>Feriados</label>
	</div>
</div>

<h1 class="page-header text-center">Itinerário</h1>

<div class="table-responsive col-lg-12 col-md-12 com-sm-12 col-xs-12" style="min-height: 100px;">
	<table id="listTrajeto" class="table table-striped" cellspacing="0" cellpadding="0">
		<thead>
			<tr>
				{% for label in listaLabels %}
				<th>{{ label }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<button type="button"  class="btn btn-default pull-right" onclick="mostraTrajeto()">Visualizar Trajeto</button>
</div>

{% endblock crud %}

{% block aditionalCrudContent %}

	<div class="modal fade" id="mapModal" role="dialog" aria-labelledby="modalLabel" onshow="clearModal()">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h4>Visualizar Trajeto</h4>
				</div>
				<div class="modal-body container-fluid">
					<div id="mapa" class="embed-responsive embed-responsive-4by3"></div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" onclick="fechaModal()" data-dismiss="modal" >Fechar</button>
				</div>
			</div>
		</div>
	</div>

{% endblock aditionalCrudContent %}
