{% extends 'easybus/base/baseListCRUD.html' %}

{% block list_head_script %}	
    $(document).ready(function() {
		$('li').removeClass('active');
		$("#linkTrajeto").addClass('active');
    });

{% endblock %}

{% block 'list' %}
<div id="list" class="row col-xs-12 col-md-12 col-lg-12">
    <div class="table-responsive col-xs-12 col-md-12 col-lg-12">
        <table id="manutListTable" class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    {% for label in listaLabels %}
                    <th>{{ label }}</th>
                    {% endfor %}
                    <th class="actions">Ações</th>
                 </tr>
            </thead>
            <tbody>
			{% for r in listaItens %}
				<tr>
				  <th width="50"> {{r.id }}</th>
				  <th> {{ r.descricao }}</th>
				  <td class="actions" width="200">
                      <a class="btn btn-success btn-xs" href="{{manutUrl}}VIEW/{{r.id}}">Visualizar</a>
                      <a class="btn btn-warning btn-xs" href="{{manutUrl}}MOD/{{r.id}}">Editar</a>
                      <a class="btn btn-danger btn-xs"  onclick="openDeleteModal({{r.id}})">Excluir</a>
                  </td>
				</tr>				
			{% endfor %}
            </tbody>
         </table>
 
     </div>
 </div> 
{% endblock 'list' %}