{% extends 'easybus/base/baseCRUD.html' %}

{% load staticfiles %}

{% block crud_script_source %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBMrmbLlwhxMUGcakLFmUQ3pjtup4difYI&amp;libraries=places"></script>
    <script src="{% static 'easybus/js/mapsUtil.js' %}"></script>
    <script src="{% static 'easybus/js/trajeto.js' %}"></script>
	<script src="{% static 'easybus/jquery-mask-1.7.7/jquery.mask.min.js' %}"></script>
{% endblock %}

{% block crud_head_script %}

	$(document).ready(function() {
		$('li').removeClass('active');
		$("#linkTrajeto").addClass('active');

		$("#valorPassagem").mask("###.###.##0,00", {reverse: true}); 

		var hasCreated = false;

		crudOption = '{{crudOption}}';
		deserializeDjangoObject('{{listaItinerario|safe}}',addItinerarioObject,refreshItinerarios);

		$("#mapModal").on('shown.bs.modal', function () {
			if(!hasCreated){
				hasCreated = true;
				showLoadingEffect();

				enableDisableFields(false);
				createMap('mapa',
						'buscaEndereco',
						completeInitializeTrajetoMapModal);

				setChangedPlaceFunction(enderecoAlterado);
			}
		});

		calcTime('a','b',null);

		$("#mapModal").on('hidden.bs.modal', function () {
			action = '';
		});
	});

{% endblock %}

{% block crud %}


	<div id="itinerarioSelecionado" name="itinerarioSelecionado" type="hidden">
		
	</div>

	<div class="row col-lg-12 col-md-12 com-sm-12 col-xs-12">
		<div class="form-group col-md-4">
			<label for="descricao">Descrição</label>
		    <input type="text" class="form-control" id="descricao" name="descricao" required="True" {{crudFieldsProperties}} value="{{trajeto.descricao}}">
		</div>
	</div>

	<div class="row col-lg-12 col-md-12 com-sm-12 col-xs-12">
		<div class="form-group col-md-4">
			<label for="valorPassagem">Valor Passagem</label>
		    <input type="text" class="form-control" name="valorPassagem" id="valorPassagem" required="True" {{crudFieldsProperties}} value="{{trajeto.valor}}">
		</div>
	</div>

	<div class="row col-lg-12 col-md-12 com-sm-12 col-xs-12" {% if crudOption == 'VIEW' %} hidden {% endif %}>
		<a id="lbtnAdd" class="btn btn-primary pull-right" onclick="abrirModal()" >Adicionar Ponto</a>
	</div>

	<div class="table-responsive col-lg-12 col-md-12 com-sm-12 col-xs-12" style="min-height: 100px;">
		<table id="listTrajeto" class="table table-striped" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
			        {% for label in listaLabels %}
			        <th>{{ label }}</th>
			        {% endfor %}
				</tr>
			</thead>
			<tbody>
				 
			</tbody>
		</table>
	</div>

{% endblock crud %}

{% block aditionalCrudContent %}

	<div class="modal fade" id="mapModal" role="dialog" aria-labelledby="modalLabel" onshow="clearModal()">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h4>Adicionar Itinerario ao Trajeto</h4>
				</div>

				<div class="row" style="display: none;">
					<div class="form-group col-md-1">
						<input type="text" id="latitude" name="latitude" class="form-control"/>
						<input type="text" id="longitude" name="longitude" class="form-control"/>
					</div>
				</div>

				<div class="modal-body container-fluid">
					<div id="divBuscaEndereco" class="row text-left" >
						<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<label for="buscaEndereco">Busque o Endereço: </label>
							<input type="text" id="buscaEndereco" name="buscaEndereco" class="form-control"/>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<label for="endereco">Endereço</label>
							<input type="text" id="endereco" name="endereco" class="form-control" disabled/>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<label for="bairro">Bairro/Localidade</label>
							<input type="text" id="bairro" name="bairro" class="form-control" disabled/>
						</div>

						<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<label for="cidade">Cidade</label>
							<input type="text" id="cidade" name="cidade" class="form-control" disabled/>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
						   <label for="sequencia">Sequência</label>
						   <input type="text" class="form-control" id="sequencia" name="sequencia" required="True">
						</div>
						<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
						   <label for="tempo">Tempo Adicional</label>
						   <input type="time" class="form-control" width="25" id="tempoAdicional" name="tempoAdicional" required="True" value="00:00">
						</div>
						<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin: 30px 0 0 0;"> <!-- col-lg-offset-3 col-md-offset-3-->
						   <label class="checkbox-inline"><input type="checkbox" id="parada" name="parada">Parada de Ônibus</label>
				  		</div>
					</div>

					<div id="mapa" class="embed-responsive embed-responsive-4by3"></div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary" onclick="adicionaItinerario()" data-dismiss="modal" >Confirmar</button>
					<button type="button" class="btn btn-default" onclick="fechaModal()" data-dismiss="modal" >Cancelar</button>
				</div>
			</div>
		</div>
	</div>

{% endblock aditionalCrudContent %}
