{% extends 'easybus/base/base.html' %}

{% load staticfiles%}

{% block style_source %}
	{% block list_style_source %}
	{% endblock %}
{% endblock %}

{% block script_source %}
	{% block list_script_source %}
	{% endblock %}
{% endblock %}

{% block head_style %}
	{% block list_head_style %}
    {% endblock %}
{% endblock %}

{% block head_script %}
	$(function() {
		atualizaQtdPaginas({{qtdPaginas}});
	});

	{% block list_head_script %}
    {% endblock %}
{% endblock %}


{% block content %}

<form action="" method="POST"> {% csrf_token %}
	<div id="main" class="container-fluid">
		<div id="top" class="jumbotron col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
			<h1><span class="fa {{pageIcon}} fa-1x"></span> {{ pageTitle }}</h1>
		</div>

		{% block 'listHeader' %}
		{% endblock %}
		
		<div class="row">
            <div class="input-group col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4" id="adv-search">
                <input id="searchFilter" name="searchFilter" type="text" class="form-control" placeholder="Pesquisar..."/>
                <div id="divAdvancedFilter" class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" onclick="openAdvSearch()">
                            Filtro Avançado
                            <span class="caret"></span></button>
                            <div id="advFilterDiv" class="dropdown-menu dropdown-menu-right" role="menu">
                            	<form class="form-horizontal" role="form">
                            		<div class="container-fluid">
	                                	{% block 'advancedFilter' %}
	 									{% endblock %}
 										<div class="control-group pull-right">
 											<button class="btn btn-default" type="button" onclick="clearData()">
												Limpar Filtro
											</button>
											<button class="btn btn-primary" type="button" onclick="setSearchData()">
												Pesquisar
											</button>
	                            		</div>
                        			</div>
								</form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       	</div>

		<form id="deleteForm" method="POST"> {% csrf_token %} </form>

		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="modalLabel">Atenção!!!</h4>
					</div>
					<div class="modal-body">
						Deseja realmente remover este {{title}}?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="deleteSubmit()">Sim</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
					</div>
				</div>
			</div>
		</div>
       	
       	<div id="divADDOption" class="row col-xs-12 col-md-12 com-lg-12">
       		<a id="lbtnAdd" href="{{ manutUrl|safe }}ADD" class="btn btn-primary pull-right">Adicionar {{title}}</a>
       	</div>
	     
		{% block 'list' %}
		{% endblock %}
	
		<div id="divPagination" class="row hidden">
			<div class="col-md-12" align="center">		         
				<ul class="pagination">
					<li class="previous" onclick="showPreviousRecords()" id="btnPrevious"><a>Anterior</a></li>
					{% for x in loopPaginas %}		            	
						<li onclick="showPage({{x}})" id="page{{x}}"><a>{{x}}</a></li>
					{% endfor %}
					<li class="next" onclick="showNextRecords()" id="btnNext"><a rel="next">Próximo</a></li>
				</ul><!-- /.pagination -->
			</div>
		</div> <!-- /#bottom -->
	</div>  <!-- /#main -->
</form>
{% endblock content %}