{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>EasyBus</title>

		<link href="{% static 'easybus/bootstrap-3/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'easybus/css/main.css' %}" rel="stylesheet">
		<link href="{% static 'easybus/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
		<link href="{% static 'easybus/animate/animate.css' %}" rel="stylesheet">
		{% block style_source %}{% endblock %}
		
		<style>
			{% block head_style %}
	        {% endblock %}
		</style>

		<script src="{% static 'easybus/jquery-3/jquery-3.1.1.min.js' %}"></script>
		<script src="{% static 'easybus/bootstrap-3/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'easybus/noty/jquery.noty.packaged.min.js' %}"></script>
		<script src="{% static 'easybus/js/loading.js' %}"></script>
		<script src="{% static 'easybus/js/easybus.js' %}"></script>
		<script src="{% static 'easybus/js/messages.js' %}"></script>
		<script src="{% static 'easybus/js/global.js' %}"></script>
		{% block script_source %}{% endblock %}


		
		<script type="text/javascript">		
			$(document).ready(function() {
			    $( "#loaderBackground").fadeOut(400, function(){
			    	$( "#loader").fadeOut();
			    });

				var messages = window.sessionStorage.getItem('successMessages');
				messages = $.map(JSON.parse(messages), function(el) { return el });
				if(messages != null && messages.length > 0){
					(function myLoop (i) {          
						setTimeout(function () {   
							dispSuccess('',messages[(i * -1) + messages.length]);
							if (--i) myLoop(i);
						},500)
					})(messages.length);
					window.sessionStorage.removeItem('successMessages');
				}				
			});		
			{% block head_script %}
	        {% endblock %}
		</script>
	</head>
	<body>{% csrf_token %}
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="./">EasyBus</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li id="linkTrajeto" 		name="linkTrajeto" 		class="menu"><a href="/trajeto/">Trajetos</a></li>
						<li id="linkRota"    		name="linkRota"    		class="menu"><a href="/rota/">Rotas</a></li>
						<li id="linkBuscaOnibus"    name="linkBuscaOnibus"  class="menu"><a href="/buscaOnibus/">Busca Ônibus</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
		
		<div id="loaderBackground" class="modal-backdrop fade in" hidden="True" style="top: 50px;"></div>
		
		<div id="loader" class="row loader col-lg-2 col-md-2 col-sm-12 col-xs-12 col-lg-offset-5 col-md-offset-5 col-sm-offset-3 col-xs-offset-3" hidden="True">
			<div class="text-center">		
      			<img src="{% static 'easybus/images/loading.gif' %}" alt="100%x200">
       			<h3>Carregando...</h3>       			
       		</div>
		</div>
	
		<div class="container-fluid">
			{% block content %}
	        {% endblock %}
		</div>
				
		{% block aditionalContent %}
	    {% endblock %}
	</body>
</html>