{% extends 'easybus/base/base.html' %}

{% block style_source %}
	{% block crud_style_source %}
	{% endblock %}
{% endblock %}

{% block script_source %}
	{% block crud_script_source %}
	{% endblock %}
{% endblock %}

{% block head_script %}
	$(document).on("submit", "form", function(event){
		event.preventDefault();
		validateSubmit();
	});	
	
	{% block crud_head_script %}
    {% endblock %}
{% endblock %}

{% block content %}
<h1 class="page-header text-center">{{CRUDTitle}} {{ title }}</h1>
<form id="manutForm" method="POST"> {% csrf_token %}
	
	<div id="actions" class="row col-lg-12 col-md-12 com-sm-12 col-xs-12">
		<button type="submit" class="btn btn-primary pull-right" {{saveButtonProperties|safe}}>Salvar </button>      		
		<a href="{{crudListUrl}}" class="btn btn-default pull-right">{{returnButtonLabel}}</a>      
	</div>

	{% block crud %}
	{% endblock %}
	
</form>
{% endblock content %}

{% block aditionalContent %}
	{% block aditionalCrudContent %}
	{% endblock %}	
{% endblock aditionalContent %}