{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static 'easybus/bootstrap-3/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'easybus/css/main.css' %}" rel="stylesheet">
	<link href="{% static 'easybus/css/newAutoComplete.css' %}" rel="stylesheet">
	<script src="{% static 'easybus/jquery-3/jquery-3.1.1.min.js' %}"></script>	
	<script src="{% static '/easybus/bootstrap-3/js/bootstrap.min.js' %}"></script>		
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBMrmbLlwhxMUGcakLFmUQ3pjtup4difYI&amp;sensor=false"></script>
    <script src="{% static 'easybus/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'easybus/js/maps.js' %}"></script>
</head>
<body onload="initializeMapComponents()">
				<div class="form-group col-md-12">
					<label for="campo1">Digite o Endereço: </label>
					<input type="text" id="buscaEndereco" name="buscaEndereco" class="form-control" value="{{itinerario.local}}"/>
				</div>
				
				<div class="row" style="display: none;">
					<div class="form-group col-md-1">
						<input type="text" id="local" name="local" class="form-control" value="{{itinerario.local}}"/>
						<input type="text" id="latitude" name="latitude" class="form-control" value="{{itinerario.latitude}}"/>
						<input type="text" id="longitude" name="longitude" class="form-control" value="{{itinerario.longitude}}"/>
					</div>
				</div>
				
				<div class="row">
					<div id="mapa" style="height: 500px; width: 570px"></div>
				</div>
				
				<div class="row">		   
					<button type="button" class="btn btn-primary" onclick="setLocation()" data-dismiss="modal" >Confirmar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" >Cancelar</button>
					<input type="hidden" id="txtLatitude" name="txtLatitude" value="{{itinerario.latitude}}"/>
					<input type="hidden" id="txtLongitude" name="txtLongitude" value="{{itinerario.longitude}}"/>
				</div>     
</body>
</html>
