{% extends 'easybus/base/base.html' %}

{% block script_source %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBMrmbLlwhxMUGcakLFmUQ3pjtup4difYI&amp;libraries=places"></script>
{% endblock %}

{% block head_script %}
	$(document).ready(function() {

        var latlng = new google.maps.LatLng(-18.8800397, -47.05878999999999);

        var options = {
            zoom: 5,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("mapa"), options);

        var autoCompleteInput = document.getElementById('endereco');
        var autoCompleteOpcoes = {
            types: ['geocode']
        }

        autocomplete = new google.maps.places.Autocomplete(autoCompleteInput,autoCompleteOpcoes);

        google.maps.event.addListener(autocomplete, 'place_changed', novoLocal);

        geocoder = new google.maps.Geocoder();

        marker = new google.maps.Marker({
            map: map,
            draggable: true,
        });

        google.maps.event.addListener(marker, 'drag', function () {
            geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    console.log(results);
                    $("#endereco").val(results[0].formatted_address);
                }
            });
        });


        function novoLocal() {
            var local = autocomplete.getPlace();
            map.setCenter(local.geometry.location);
            map.setZoom(17);
            marker.setPosition(local.geometry.location);
        }

	});	
{% endblock %}


{% block content %}
    <label for="endereco">Digite o Endereço: </label>
    <input type="text" id="endereco" name="endereco" class="form-control"/>

    <div id="mapa" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 600px;"></div>
{% endblock content %}

