.ui-autocomplete { 
	position: absolute;
	background: #fff; 
	border-top: 1px solid #ccc;
	cursor: pointer; 
	margin-left: 3px;
	width: 493px !important;
	position: fixed;
	z-index: 2000;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    width: 100%;
}

.ui-autocomplete .ui-menu-item { 
	list-style: none outside none;
	padding: 7px 0 9px 10px;
	z-index: 10000;
}

.ui-autocomplete .ui-menu-item:hover { 
	color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.ui-autocomplete .ui-corner-all { 
	color: #666 !important;
	display: block;
	z-index: 2000;
}

.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: bold;
	margin: -1px;			
	color: #ffffff;
    text-decoration: none;
    background-color: #D8D8D8;
    border-radius: 1px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-helper-hidden-accessible { display:none !important; }