.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.jumbotron{
	background-color: #FFFFFF;
}
/*.nav .menu a { border-bottom: #222222 solid;}
.nav .active.menu a { border-bottom: #008aff solid; !important }*/

/*----- Loading ------*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.loader {
	position: fixed;
	top: 30%;
	z-index: 9999;
}

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}​