.ui-autocomplete { 
	position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.ui-menu {
	list-style:none;
	padding: 2px;
	display:block;
	float: left;
	position: static;
    display: block;
    margin-bottom: 5px;
    clear: left;
}

.ui-autocomplete .ui-menu-item:hover { 
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.ui-menu .ui-menu-item {
	margin:0;
	padding-left: 5px !important;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;	
	
}

.ui-menu .ui-menu-item a {
    display: block;
    padding:.2em .4em;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}